body {
  margin: 0;
  margin: 0;
}
header {
  background: #00ff85;
}
header::after {
  content: '';
  display: table;
  clear: both; 
}

container {
  width: 100%;
}
.logo {
  float: left;
  padding-bottom: 
}
.black {
  background-color: #38003c;
  height: 55px;  
}
.nav {
  float: right;
}
.nav ul {
  list-style:none;
  margin-right: 300px;
  font-size: 20px;
  font-family: Lato;
  font-weight: 700;
  font-color:#00ff85;

}
.nav li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 2px;
}
.container1 {
  background-color: yellow;
  width: 20%;
}
.heading {
  display: block;
  width: 250px;;
  color: white;
  background-color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  
}
.clublist {
  list-style: none;
  padding: 0;;
  margin: 0;
  background-color: yellow;
  width: 250px;
  font-size: 20px
}
.clublist > li {
  margin-left: 0;
  bottom-border: solid 2px black;
}
.clublist >li > a {
  text-decoration: none;
  color: white;
  display: block;  
  padding: 10px
}
.clublist >li > a:hover {
  background-color: black;
  color: blue;    
}
#bournemouth {
  display: block;
  background-color: #DA291C; 
  color: black;
  border-bottom: 5px solid black
}
#bournemouth:hover {
  display: block;
  background-color: black;
  color:#DA291C;
}

#arsenal {
  display: block;
  background-color: #EF0107;
  border-bottom: 5px solid black
}
#arsenal:hover {
  display: block;
  background-color: white;
  color: #EF0107;
}
#brighton {
  display: block;
  background-color: #0057B8;  
  border-bottom: 5px solid black}
#brighton:hover {
  display: block;
  background-color: white ;
  color: #0057B8; 
}
#burnley {
  display: block;
  background-color: #6C1D45;
  color: #99D6EA;
  border-bottom: 5px solid black
}
#burnley:hover {
  display: block;
  background-color: #99D6EA; 
  color: #6C1D45; 
}
#cardiff {
  display: block;
  background-color: #0070B5;
  color: white;
  border-bottom: 5px solid black;
}
#cardiff:hover {
  display: block;
  background-color: white;
  color: #0070B5; 
}
#chelsea {
  display: block;
  background-color: #034694;
  color: white;
  border-bottom: 5px solid black
}
#chelsea:hover {
  display: block;
  background-color: white;
  color: #034694; 
}
#palace {
  display: block;
  background-color:#C4122E ;
  color: #1B458F;
  border-bottom: 5px solid black;
}
#palace:hover {
  display: block;
  background-color:#0070B5;
  color:#C4122E; 
}
#everton {
  display: block;
  background-color: #003399;
  color: white;
  border-bottom: 5px solid black;
}
#everton:hover {
  display: block;
  background-color: white;
  color: #003399; 
}
#fulham {
  display: block;
  background-color: white;
  color: black;
  border-bottom: 5px solid black;
}
#fulham:hover {
  display: block;
  background-color: black;
  color: white; 
}
#huddersfield {
  display: block;
  background-color: #0070B5;
  color: white;
  border-bottom: 5px solid black;
}
#huddersfield:hover {
  display: block;
  background-color: white;
  color: #0070B5; 
}
#leceister {
  display: block;
  background-color: #003090;
  color: #FDBE11;
  border-bottom: 5px solid black;
}
#leceister:hover {
  display: block;
  background-color:#FDBE11 ;
  color: #003090; 
}
#liverpool {
  display: block;
  background-color: #C8102E;
  color: #00B2A9;
  border-bottom: 5px solid black;
}
#liverpool:hover {
  display: block;
  background-color: #00B2A9;
  color: #C8102E; 
}
#city{
  display: block;
  background-color: #6CABDD;
  color: #1C2C5B;
  border-bottom: 5px solid black;
}
#city:hover {
  display: block;
  background-color: #1C2C5B;
  color: #6CABDD; 
}
#utd {
  display: block;
  background-color:#DA291C;
  color: #FBE122;
  border-bottom: 5px solid black;
}
#utd:hover {
  display: block;
  background-color:#FBE122 ;
  color: #DA291C; 
}
#newcastle {
  display: block;
  background-color: black;
  color: white;
  border-bottom: 5px solid black;
}
#newcastle:hover {
  display: block;
  background-color:white ;
  color: black; 
}
#southampton {
  display: block;
  background-color: #D71920;
  color: white;
  border-bottom: 5px solid black;
}
#southampton:hover {
  display: block;
  background-color: white;
  color: #D71920; 
}
#spurs {
  display: block;
  background-color: #132257;
  color: white;
  border-bottom: 5px solid black;
}
#spurs:hover {
  display: block;
  background-color: white;
  color:#132257; 
}
#watford {
  display: block;
  background-color: #FBEE23;
  color: red;
  border-bottom: 5px solid black;
}
#watford:hover {
  display: block;
  background-color: red;
  color:#FBEE23; 
}
#westham {
  display: block;
  background-color: #7A263A;
  color: #1BB1E7;
  border-bottom: 5px solid black;
}
#westham:hover {
  display: block;
  background-color:#1BB1E7;
  color:#7A263A; 
}
#wolves {
  display: block;
  background-color:#231F20;
  color: #FDB913;
  border-bottom: 5px solid black;
}
#wolves:hover {
  display: block;
  background-color:#FDB913 ;
  color:#231F20; 
}
section {
  margin-left: 250px;
  padding-left:50px;
  margin-top: -950px;
  padding-top: 30px;
  background: white;
  margin-right: 60px;
  text-align: justify;
  font-size: 15px;
  font-family:Open sans;
  
}
.history {
  background-color: #38003c;
  color: white;
  padding: 15px
}
.revenue{
  background-color: #38003c;
  color: white;
  padding: 15px;
  margin-top: 60px;
}


